<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Euler to/from quaternion</title>
</head>
<body>

<h1>INPUT：</h1>
<form action="rotation", method="post">

Euler angle:

    <input type="text" id="euler0", name="euler0", value={{name[0][0]}}>
    <input type="text" id="euler1", name="euler1", value={{name[0][1]}}>
    <input type="text" id="euler2", name="euler2", value={{name[0][2]}}>
    <br>
    <br>

旋转方式：
<select name="euler_type">
    <option value="INT">INT</option>
    <option value="EXT">EXT</option>
</select>
旋转顺序：
<select name="euler_order">
    <option value="xyz">XYZ</option>
    <option value="xzy">XZY</option>
    <option value="xyx">XYX</option>
    <option value="xzx">XZX</option>
    <option value="yxz">YXZ</option>
    <option value="yzx">YZX</option>
    <option value="yxy">YXY</option>
    <option value="yzy">YZY</option>
    <option value="zxy">ZXY</option>
    <option value="zyx">ZYX</option>
    <option value="zxz">ZXZ</option>
    <option value="zyz">ZYZ</option>

</select>
<br>
    <br>


    quaternion:
    <input type="text" , id="q0", name="q0", value={{name[1][0]}}>
    <input type="text" , id="q1", name="q1", value={{name[1][1]}}>
    <input type="text" , id="q2", name="q2", value={{name[1][2]}}>
    <input type="text" , id="q3", name="q3", value={{name[1][3]}}>
    <br>
    <br>
    <!-- <input type="submit"> -->


    rotation matrix:<br>

    <input type="text" , id = "r00", name="r00", value={{name[2][0][0]}}>
    <input type="text" , id = "r01", name="r01", value={{name[2][0][1]}}>
    <input type="text" , id = "r02", name="r02", value={{name[2][0][2]}}>
    <br>
    <br>
    <input type="text" , id = "r10", name="r10", value={{name[2][1][0]}}>
    <input type="text" , id = "r11", name="r11", value={{name[2][1][1]}}>
    <input type="text" , id = "r12", name="r12", value={{name[2][1][2]}}>
    <br>
    <br>
    <input type="text" , id = "r20", name="r20", value={{name[2][2][0]}}>
    <input type="text" , id = "r21", name="r21", value={{name[2][2][1]}}>
    <input type="text" , id = "r22", name="r22", value={{name[2][2][2]}}>
    <br>
    <br>

计算方式：<br>
<select name="Calibrate_method">
    <option value="fromEuler">From Euler</option>
    <option value="fromQuat">From Quat</option>
    <option value="fromMatrix">From Matrix</option>
    <br> <br>
</select>
<!--
<select class="percentText" id="operatorId" name="operatorId">
    <option value="">--Select All--</option>
    <c:forEach items="${operators }" var="oper" varStatus="step">
        <option value="1">宝马</option> <option value="2">奔驰</option> <option value="3">奥迪</option>
        <option value = "${oper.operatorId }" ${oper.operatorId == param['operatorId']?'selected':''}>${oper.operatorName }</option>
    </c:forEach>
    </select> -->
<br><br>
<input type="submit" value="计算" >
</form>

<h1>OUTPUT：</h1>

Euler angle:<br>
    {% if lock %}
        <p style="color: red">Gimbal Lock occurs. Euler angles are non-unique</p>
    {% endif %}

<form>
    <input type="text" id="outEuler0", name="euler0", value={{name2[0][0]}}>
    <input type="text" id="outEuler1", name="euler1", value={{name2[0][1]}}>
    <input type="text" id="outEuler2", name="euler2", value={{name2[0][2]}}>
    <br>
</form>



quaternion:
<form>
    <input type="text" , name="outQ0", value={{name2[1][0]}}>
    <input type="text" , name="outQ1", value={{name2[1][1]}}>
    <input type="text" , name="outQ2", value={{name2[1][2]}}>
    <input type="text" , name="outQ3", value={{name2[1][3]}}>
    <br>
</form>

rotation matrix:
<form>
    <input type="text" , name="outR00", value={{name2[2][0][0]}}>
    <input type="text" , name="outR01", value={{name2[2][0][1]}}>
    <input type="text" , name="outR02", value={{name2[2][0][2]}}>
    <br>
    <input type="text" , name="outR10", value={{name2[2][1][0]}}>
    <input type="text" , name="outR11", value={{name2[2][1][1]}}>
    <input type="text" , name="outR12", value={{name2[2][1][2]}}>
    <br>
    <input type="text" , name="outR20", value={{name2[2][2][0]}}>
    <input type="text" , name="outR21", value={{name2[2][2][1]}}>
    <input type="text" , name="outR22", value={{name2[2][2][2]}}>
    <br>
</form>

</body>
</html>